@media all and (max-width: 768px ) {
    #top #middle .half-width .teach #Footer-area {
        float: none;
		margin-bottom: 50px;
		width: 100%;
    }
}


@media all and (max-width: 620px) {
    #top #middle #edu-area #End-site #Footer-area {
        width: 100%;
		float: left;
        
    }

}
@media all and (max-width: 360px) {
    #top #middle #edu-area #End-site #Footer-area {
        width: auto;
        overflow: hidden;
    }

}